.wppool-archive-wrapper {
  background-color: #f1f1f1;
}

/* page header */
.archive-header.jumbotron {
  background-image: url("../images/archive-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 7rem;
  padding-bottom: 10rem;
  position: relative;
}

.archive-header.jumbotron .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.archive-header.jumbotron .container {
  position: relative;
}

.archive-header.jumbotron .container p.lead {
  width: 100%;
  max-width: 50rem;
}

/* isotope filtering */
#filter-buttons,
#sort-buttons {
  margin-left: -10px;
}

#filter-buttons .btn,
#sort-buttons .btn {
  margin: 0 0 10px 10px;
  font-size: 0.8rem !important;
  border: none !important;
}

#filter-buttons .btn:hover,
#sort-buttons .btn:hover {
  background-color: #28f !important;
  color: #fff !important;
}

#filter-buttons .btn:active,
#filter-buttons .btn.is-checked,
#sort-buttons .btn:active,
#sort-buttons .btn.is-checked {
  background-color: #28f !important;
}

#filter-buttons .btn.is-checked,
#sort-buttons .btn.is-checked {
  color: white;
}

/* project card */
.wppool-grid-container .wppool-loop-project .card {
  cursor: pointer;
}

.wppool-grid-container
  .wppool-loop-project
  .card
  .wppool-loop-project-category {
  min-height: 1.5rem;
  color: #666666;
}
@media screen and (max-width: 767px) {
  .wppool-grid-container .wppool-loop-project .card {
    max-width: 300px;
    margin: 0 auto;
  }
}

