/* add css here */
.fields {
  padding-top: 8px;
}

.field_c {
  margin-bottom: 5px;
}

.label_c {
  width: 15%;
  float: left;
}

.label_c label {
  line-height: 35px;
}

.input_c {
  width: 85%;
  float: left;
}

.input_c button {
  height: 30px;
}
.float_c {
  clear: both;
}

.button {
  border: none;
}

#images-container {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-left: 0;
  margin-left: -10px;
}

